In [15]:
"""
1. Create a list called years_list, starting with the year of your birth, and each year thereafter 
until the year of your fifth birthday. For example, if you were born in 1980, 
the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].
"""

year = int(input("Enter your Date of Birth :"))
years_list = []

for i in range(year , year+6) :
    years_list.append(i)
    
print(f"The year lis is :{years_list} \nThe Data type is : {type(years_list)}")

Enter your Date of Birth : 1998

The year lis is :[1998, 1999, 2000, 2001, 2002, 2003]
The Data type is : <class 'list'>

In [24]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

print(years_list)
bithday = 3
year_of_birth = years_list[3]

print(year_of_birth)

[1998, 1999, 2000, 2001, 2002, 2003]
2001

In [33]:
# 3.In the years list, which year were you the oldest?

print(years_list)
# soting the list.
sort_years = sorted(years_list)
print(sort_years)
new_year = max(sort_years)
old_year = min(sort_years)

print(f"Latest Birthday year is : {new_year} \nOld Birthdat year is : {old_year}")

[1998, 1999, 2000, 2001, 2002, 2003]
[1998, 1999, 2000, 2001, 2002, 2003]
Latest Birthday year is : 2003
Old Birthdat year is : 1998

In [35]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

things = ["mozzarella", "cinderella", "salmonella"]
print(f"The things is : {things} \nThe Data type of things is : {type(things)}")

The things is : ['mozzarella', 'cinderella', 'salmonella']
The Data type of things is : <class 'list'>

In [53]:
"""
5. Capitalize the element in things that refers to a person and then print the list.
Did it change the element in the list?
"""

things = ["mozzarella", "cinderella", "salmonella"]
cap_things = []
for i in things :
    i.capitalize()
    cap_things.append(i.capitalize())

print(f"Things Before cpitilizing : {things} \nThings After capitilizing : {cap_things}")

# Therefore the elements in the things list has changed.

Things Before cpitilizing : ['mozzarella', 'cinderella', 'salmonella']
Things After capitilizing : ['Mozzarella', 'Cinderella', 'Salmonella']

In [54]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

surprise = ["Groucho", "Chico", "Harpo"]
print(f"surprise list is : {surprise} , Data type of surprise is : {type(surprise)}")

surprise list is : ['Groucho', 'Chico', 'Harpo'] , Data type of surprise is : <class 'list'>

In [67]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

# Surprise ist with elements.
surprise = ["Groucho", "Chico", "Harpo"]
print(f"The surprise list is : {surprise}")
lower_surprise = []
# changing the surprise list to lower case
for words in surprise :
    l = words.lower()
    lower_surprise.append(l)

print(f"Lower case of the surprise list : {lower_surprise}")

# Reversing the lower_surprise list
reverse_surprise = lower_surprise[::-1]
print(f"Reversed List is : {reverse_surprise}")

# Capitilizing the list now.
cap_surprise = []
for i in reverse_surprise :
    c = i.capitalize()
    cap_surprise.append(c)
    
print(f"The capitilized surprize string is : {cap_surprise}")

The surprise list is : ['Groucho', 'Chico', 'Harpo']
Lower case of the surprise list : ['groucho', 'chico', 'harpo']
Reversed List is : ['harpo', 'chico', 'groucho']
The capitilized surprize string is : ['Harpo', 'Chico', 'Groucho']

In [69]:
"""
8. Make an English-to-French dictionary called e2f and print it.
Here are your starter words: dog is chien, cat is chat, and walrus is morse.
"""

e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(f"The e2f Dictionary is :{e2f} , The Data type of e2f is : {type(e2f)}")

The e2f Dictionary is :{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'} , The Data type of e2f is : <class 'dict'>

In [98]:
# 9. Write the French word for walrus in your three-word dictionary e2f.

e2f["walrus"]

'morse'

In [77]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

f2e = {}
for key,values in e2f.items() :
    f2e[values] = key

print(f"The f2e Dictionary is :{f2e} , The Data type of e2f is : {type(f2e)}")

The f2e Dictionary is :{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'} , The Data type of e2f is : <class 'dict'>

In [82]:
# 11. Print the English version of the French word chien using f2e.

english_word = f2e["chien"]
print(f"The english word of chien is : {english_word}")

The english word of chien is : dog

In [83]:
# 12. Make and print a set of English words from the keys in e2f.

e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [84]:
"""
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
Make all the other keys refer to empty dictionaries.
"""

life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [92]:
# 14. Print the top-level keys of life.

life.keys()

dict_keys(['animals', 'plants', 'other'])

In [93]:
# 15. Print the keys for life['animals'].

life["animals"].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
# 16. Print the values for life['animals']['cats']

life["animals"]["cats"]

['Henri', 'Grumpy', 'Lucy']