In [10]:
"""
Question 1
Create a function that takes a number as an argument and returns True or False 
depending on whether the number is symmetrical or not.
A number is symmetrical when it is the same as its reverse.

Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True
"""

def is_symmetrical(number) :
    
    string = str(number)
    
    reverse = string[::-1]
    
    if reverse == string :
        print("True")
        
    else :
        print("False")

        
# Example
is_symmetrical(7227) 
is_symmetrical(12567)
is_symmetrical(44444444) 
is_symmetrical(9939)
is_symmetrical(1112111)

True
False
True
False
True

In [22]:
"""
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20
"""

def multiply_nums(string):
    
    out_string = string.replace(' ','').split(',')
    result = 1
    
    for i in out_string:
        result *= int(i)
    
    print(result)


# Example
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4") 
multiply_nums("54, 75, 453, 0") 
multiply_nums("10, -2")

6
24
0
-20

In [40]:
"""
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
"""

def square_digits(number) :
    
    if type(number) != int :
        print("Enter the numbers only")
    
    else :
        
        string_of_number = str(number)
        List = []
        
        for i in string_of_number :
            num = int(i) ** 2
            List.append(str(num))
            
        result = int("".join(List))
        
        print(result)
        

# Example 
square_digits(9119) 
square_digits(2483) 
square_digits(3212)

811181
416649
9414

In [5]:
"""
Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
"""

def setify(List) :
    
    duplicate = set(List)
    
    
    result = list(sorted(duplicate))
    
    print(result)


# Example
setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4]) 
setify([5, 7, 8, 9, 10, 15]) 
setify([3, 3, 3, 2, 1])

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [16]:
"""
Question 5
Create a function that returns the mean of all digits.

Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

Notes
The mean of all digits is the sum of digits / how many digits there are
(e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.
"""

def mean(number) :
    
    if type(number) != int :
        print("Enter the integers only")
        
    else :
        
        string = str(number)
        summ = 0
        
        for i in string :
            summ = summ + int(i)
            
        result = summ // len(string)
        
        print(result)
        

# Example
mean(42) 
mean(12345) 
mean(666)

3
3
6